<!DOCTYPE html>
<html>
<head>  <h1 align="center"><font color="black" size="20"/> Predicting Personal Loan Approval

</h1>
<hr width="100%" color="black" size="10"/>

<title>end</title>
<br><style>
body{
background-image:url({{url_for('static',filename='display.jpeg')}});
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100% 100%;
}
</style>
</head>
<body color="white" ><h4 align="center">
{{prediction_results}}
</h4>
<b>
<h5 align="center">Disclaimer</h5>
</b>
<hr width="100%" color="black" size="4"/>
</body>

<h6 color="white" >It is important to note that loan approval prediction models should be used with caution and in conjunction with other relevant factors, as they are not perfect and can sometimes make incorrect predictions. Furthermore, it is important to ensure that the models do not perpetuate bias or discrimination against certain groups of people.</h6>
</html>